.inputWrapper {
    width: fit-content;
}
.customInput {
    background-color: var(--cir-indigo-100);
    color: var(--cir-indigo-400);
    font-weight: bolder;
    cursor: pointer;
    padding: .5rem;
    border-radius: .5rem;
    transition: all .2s ease-in-out;
}
.customInput:hover {
    color: var(--clr-neutral-0);
    background-color: var(--cir-indigo-300);
}
.customInput:active {
    color: var(--cir-neutral-0);
    background-color: var(--cir-indigo-400);
}
.input {
    display: none;
}