.imageUploaderWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
    padding-inline: 1rem;
}

@media screen and (max-width: 1024px) {
    .imageUploaderWrapper {
        padding-inline: 0;
    }
}