.largeCrayonContainer {
    width: fit-content;
    height: fit-content;
    padding-inline: 2rem;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(93, 93, 93, 0.8); 
    border-radius: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3); 
}
.sectionTitle {
    width: 100%;
    text-align: center;
    color: var(--cir-orange-400);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.largeCrayonWrapper {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    gap: 1.5rem; 
}
.imgWrapper img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    transition: box-shadow .2s ease-in-out;
}
.imgWrapper img:hover, .jsonUploaderContainer canvas:hover {
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3); 
}
.jsonUploaderContainer canvas {
    width: 100%;
    border-radius: 1rem;
    transition: box-shadow .2s ease-in-out;
}

@media screen and (max-width: 1024px) {
    .largeCrayonContainer {
        width: 20rem;
        max-height: 50rem;
    }
    .largeCrayonWrapper {
        flex-direction: column;
        align-self: center;
        justify-content: center;
    }
}